<div class="row">
    <div class="col-xs-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Toppings</h2>
            </div>
            <dta-toppings toppings="gctrl.toppings" on-select="gctrl.addTopping($event)"></dta-toppings>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Pizzas</h2>
            </div>
            <div class="panel-body">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <a ng-href="/recipe/{{ gctrl.pizza.id }}"<h2>{{ gctrl.pizza.recipe }}</h2></a>
                    </div>
                    <ul id="pizzaToppings" class="list-group">
                        <li class = "list-group-item" ng-repeat="topping in gctrl.pizza.toppings track by $index">{{ topping }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Commandes</h2>
            </div>
            <dta-commands pizzas="gctrl.pizzas" on-select="gctrl.setPizza($event)"></dta-commands>
        </div>
    </div>
</div>